@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	font-family: "Quicksand";
	color: #333;
}

.navbar {
	padding: 20px;
	display: flex;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	border-bottom: solid #c8bebe 1px;
}

.navbar h1 {
	color: #f1356d;
}

.navbar .links {
	margin-left: auto;
}
.navbar a {
	margin-left: 16px;
	text-decoration: none;
	padding: 6px;
}
.navbar a:hover {
	color: #f1356d;
}

.content {
	max-width: 600px;
	margin: 40px auto;
	padding: 0px;
}

.content h2 {
	width: max-content;
	margin: 0 auto;
}
.blog-list {
	/* box-shadow: 2px 2px 2px 2px red;
  padding : 20px 10px; */
	margin: 20px auto 0 auto;
	text-decoration: none;
}

.blog-list h1 {
	border-bottom: solid #333 1px;
	max-width: fit-content;
	margin: 10px 0 0 10px;
	text-decoration: none;
}

.blog-preview {
	display: flex;
	padding: 20px;
	margin: 10px 30px 10px 30px;
	flex-direction: column;
}
.blog-preview:hover {
	box-shadow: 1px 1px 1px 1px #c8bebe;
	border-radius: 8px;
}
.blog-preview button {
	max-width: 200px;
	margin: 5px auto;
	flex: 1;
	border-radius: 8px;
	border: 0px;
}
.blog-preview button:hover {
	background-color: #f1356d;
}

.blog-preview h2 {
	border-bottom: solid #f1356d 0.5px;
	margin: 0 auto;
	flex: 1;
}

.blog-preview p {
	flex: 1;
	margin: 0 auto;
	
}
